
/* tag{

    property name: property value
} */

root {
    --space: 1rem;
    --BGDark: black;
    --fontonDark: white;
}

body{
    margin: 20px;
    padding:0;
    font-family: system-ui, sans-serif;
    font size: 20px;
}

header{
 display: flex;   
 flex-direction: row;
 justify-content: space-between;
 padding: 1rem;
 color: var(--fontonDark);
 background-color: var(--BGDark);

}

nav{
    display:flex;
    flex-direction: column;
    justify-content:space-between;   
}

main{
padding: var(--space);
}

fotter{
padding: var(--space);
background-color: var(--BGDark);
color: var(--fontonDark);
}